.landing__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landing__container .landing__item {
    position: sticky;
    display: flex;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
}

.landing__container .landing__item:first-child {
    opacity: 1;
}

.landing__container .landing__item .landing__item__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    border: none;
}

.landing__container .landing__item .landing__item-text__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.landing__container .landing__item .landing__item-text__container .keyword {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 16px;
    font-family: Montserrat;
}

.landing__container .landing__item .landing__item-text__container .text {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    font-family: Montserrat;
}

.landing__container .landing__item .landing__item-text__container button {
    font-size: 18px;
    font-family: Montserrat;
    color: #ffffff;
    font-weight: 300;
        margin-top: 40px;
        padding: 10px 42px;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(10px);
        border: .5px solid #ffffff;
}

.landing-brand__container {
    display: flex;
    position: relative;
}

.landing-brand__container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    border: none;
}

.landing-brand__container .landing-brand__text__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    gap: 50px;
}

.landing-brand__container .landing-brand__text__container .title__container {
    line-height: 1.2;
}

.landing-brand__container .landing-brand__text__container .title__container .title {
    font-size: 75px;
    font-weight: 400;
}

.landing-brand__container .landing-brand__text__container .title__container .sub-title {
    font-family: Montserrat;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}

.landing-brand__container .landing-brand__text__container .content__container {
    font-size: 20px;
    line-height: 1.2;
}

.landing-brand__container .landing-brand__text__container .link__container {
    position: relative;
}

.landing-brand__container .landing-brand__text__container .link__container a {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
}
.landing-brand__container .landing-brand__text__container .link__container a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ffffff;
}
.landing__indicator {
    position: fixed;
    bottom: 50%;
    right: 36px;
    transform: translate(0, 50%);
    display: inline-flex;
    flex-direction: column;
    width: 3px;
    gap: 15px;
    z-index: 50;
}

.landing__indicator .dot {
    display: inline-block;
    width: 100%;
    height: 25px;
    background: #ffffff;
    transition: all .3s;
}

.landing__indicator .dot.active {
    height: 55px;
}